* {
    font-family: 'Roboto', sans-serif;
}

.white {
    color: white;
}

.right {
    position: absolute;
    top: 15px;
    right:15px;
}

.headshot {
    height: 18em;
    border: 5px solid yellowgreen;
    border-radius: 5px;
    padding: 5px;
    display:inline-block;
    vertical-align:top;
}

.header-btn {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    color:#FFF;
    background: transparent;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}   
.header-btn:hover {
    color: #292b2c;
    background: #FFF;
}
@media all and (max-width:30em){
     .header-btn {
        display: inline-block;
        margin: 0.4em auto;
    }
}

@media screen and (max-width: 600px)  {
        .mobile-title { display: none; }
    }

.bouncy{
    animation:bouncy 5s infinite linear;
    position: relative;
    }
@keyframes bouncy {
    0%  {top:0em}
    40% {top:0em}
    43% {top:-0.9em}
    46% {top:0em}
    48% {top:-0.4em}
    50% {top:0em}
    100%{top:0em}
}

#topBtn {
    padding: 0.35em 2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    display: none; 
    position: fixed; 
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border-color: #292b2c;
    background-color: white; /* Set a background color */
    color: #292b2c; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
}

#topBtn:hover {
    background-color: #292b2c; /* Add a dark-grey background on hover */
    color: white;
    border-color: white;
}

.section {
    padding: 8%;
    padding-left: 12%;
    padding-right: 12%;
}

.section-header {
    margin-bottom: 50px;
}

.down {
}

.icon {
    margin: 15px;
    color:white;
}

.icon:hover {
    color: #AAAAAA;
}

.fa-chevron-down {
    margin-top: 50px;
}